[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pywinauto = "*"
pyautogui = "*"
pyperclip = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
